*{
    margin: 0;
    padding: 0;
}

a{
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background: #262626;
    color:white;
    padding: 8px 10px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

a:before{
    content: '';
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background: #00f;
    z-index: -1;
    transition:.5s;
}

a:hover:before{
    top: -50%;
}

a:after{
    content: '';
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #00f;
    z-index: -1;
    transition:.5s;
}

a:hover:after{
    bottom: -50%;
}

